In [1]:
import pandas as pd
import numpy as np
from pydataset import data
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from env import get_db_url
import os
import acquire

# Acquisition

## The end product of these exercises is a jupyter notebook, `acquire.ipynb`, and an `acquire.py` file. The notebook will contain all your work as you move through the exercises. The `acquire.py` file should contain the final functions that acquire the data into a pandas dataframe.

### 1. Make a new repo called `classification-exercises` on both GitHub and within your codeup-data-science directory. This will be where you do your work for this module.

### 2. Inside of your local classification-exercises repo, create a file named .gitignore with the following contents:

> env.py

> .DS_Store

> .ipynb_checkpoints/

> __pycache__

> *.csv

### Add and commit your .gitignore file before moving forward.

### 3. Create or copy your env.py file inside of classification-exercises
> **Run git status**

> **The env.py file should not be tracked by git**

### 4. Do the following exercises in a jupyter notebook titled acquire.ipynb.

### 5. Use pydata to import the iris data. Create a pandas dataframe, df_iris, from this data.

In [5]:
df_iris = data('iris')

>**print the first 3 rows**

In [6]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

>**print the number of rows and columns (shape)**

In [7]:
df_iris.shape

(150, 5)

>**print the column names**

In [8]:
pd.Series(df_iris.columns)

0    Sepal.Length
1     Sepal.Width
2    Petal.Length
3     Petal.Width
4         Species
dtype: object

>**print the data type of each column**

In [9]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

>**print the summary statistics for each of the numeric variables**

In [10]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### 6. Read the data from [this google sheet](https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357) into a dataframe, df_google.

In [11]:
url = ('https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357')
csv_url = url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_url)

>**print the first 3 rows**

In [12]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

>**print the number of rows and columns**

In [13]:
df_google.shape

(891, 12)

>**print the column names**

In [14]:
pd.Series(df_google.columns)

0     PassengerId
1        Survived
2          Pclass
3            Name
4             Sex
5             Age
6           SibSp
7           Parch
8          Ticket
9            Fare
10          Cabin
11       Embarked
dtype: object

>**print the data type of each column**

In [15]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

>**print the summary statistics for each of the numeric variables**

In [16]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

>**print the unique values for each of your categorical variables**

In [17]:
categorical_columns = df_google.columns [df_google.nunique() < 10]
categorical_columns

Index(['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], dtype='object')

In [18]:
for col in categorical_columns:
    print(f'{df_google[col].value_counts()}\n')

Survived
0    549
1    342
Name: count, dtype: int64

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Sex
male      577
female    314
Name: count, dtype: int64

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

### 7. Download the google sheet from Exercise 6 into an .xslx (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [19]:
df_excel = pd.read_excel('train.xlsx')
df_excel

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

>**assign the first 100 rows to a new dataframe, df_excel_sample**

In [20]:
df_excel_sample = df_excel.head(100).copy()
df_excel_sample.shape

(100, 12)

>**print the number of rows of your original dataframe**

In [21]:
df_excel.shape

(891, 12)

>**print the first 5 column names**

In [22]:
df_excel_sample.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

>**print the column names that have a data type of object**

In [23]:
df_excel_sample.select_dtypes(include='object').columns

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

>**compute the range for each of the numeric variables**

In [24]:
numeric_columns = df_excel_sample.select_dtypes(include='number')

In [25]:
for col in numeric_columns:
    print(f'{col} Range: {df_excel_sample[col].min()} - {df_excel_sample[col].max()}')

PassengerId Range: 1 - 100
Survived Range: 0 - 1
Pclass Range: 1 - 3
Age Range: 0.83 - 71.0
SibSp Range: 0 - 5
Parch Range: 0 - 5
Fare Range: 7.225 - 263.0

## Make a new python module, `acquire.py` to hold the following data acquisition functions:

### 1. Make a function named `get_titanic_data` that returns the Titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

In [26]:
def get_titanic_data():
    filename = 'titanic.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    else:
        url = get_db_url('titanic_db')
        query = 'select * from passengers'
        df = pd.read_sql(query,url)
        df.to_csv(filename)
        return df

### 2. Make a function named `get_iris_data` that returns the data from the `iris_db` on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the `species_ids`. Obtain your data from the Codeup Data Science Database.

In [27]:
def get_iris_data(): 
    filename = 'iris.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    else:
        url = get_db_url('iris_db')
        query = '''
            select * from measurements
            join species using (species_id)
            '''
        df = pd.read_sql(query,url)
        df.to_csv(filename)
        return df

### 3. Make a function named `get_telco_data` that returns the data from the `telco_churn` database in SQL. In your SQL, be sure to join contract_types, internet_service_types, payment_types tables with the customers table, so that the resulting dataframe contains all the contract, payment, and internet service options. Obtain your data from the Codeup Data Science Database.

In [28]:
def get_telco_data():
    filename = 'telco.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    
    else:
        url = get_db_url('telco_churn')
        query = '''
            select * from customers
            join contract_types using (contract_type_id)
            join internet_service_types using (internet_service_type_id)
            join payment_types using (payment_type_id);
            '''
        df = pd.read_sql(query,url)
        df.to_csv(filename)
        return df

### 4. Once you've got your `get_titanic_data`, `get_iris_data`, and `get_telco_data` functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for the local filename of `telco.csv`, `titanic.csv`, or `iris.csv`. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.

In [29]:
acquire.get_titanic_data()

File does not exist - creating CSV file

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [30]:
acquire.get_iris_data()

File does not exist - creating CSV file

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa
3,1,4,4.6,3.1,1.5,0.2,setosa
4,1,5,5.0,3.6,1.4,0.2,setosa
5,1,6,5.4,3.9,1.7,0.4,setosa
6,1,7,4.6,3.4,1.4,0.3,setosa
7,1,8,5.0,3.4,1.5,0.2,setosa
8,1,9,4.4,2.9,1.4,0.2,setosa
9,1,10,4.9,3.1,1.5,0.1,setosa
10,1,11,5.4,3.7,1.5,0.2,setosa
11,1,12,4.8,3.4,1.6,0.2,setosa
12,1,13,4.8,3.0,1.4,0.1,setosa
13,1,14,4.3,3.0,1.1,0.1,setosa
14,1,15,5.8,4.0,1.2,0.2,setosa
15,1,16,5.7,4.4,1.5,0.4,setosa
16,1,17,5.4,3.9,1.3,0.4,setosa
17,1,18,5.1,3.5,1.4,0.3,setosa
18,1,19,5.7,3.8,1.7,0.3,setosa
19,1,20,5.1,3.8,1.5,0.3,setosa
20,1,21,5.4,3.4,1.7,0.2,setosa
21,1,22,5.1,3.7,1.5,0.4,setosa
22,1,23,4.6,3.6,1.0,0.2,setosa
23,1,24,5.1,3.3,1.7,0.5,setosa
24,1,25,4.8,3.4,1.9,0.2,setosa
25,1,26,5.0,3.0,1.6,0.2,setosa
26,1,27,5.0,3.4,1.6,0.4,setosa
27,1,28,5.2,3.5,1.5,0.2,setosa
28,1,29,5.2,3.4,1.4,0.2,setosa
29,1,30,4.7,3.2,1.6,0.2,setosa
30,1,31,4.8,3.1,1.6,0.2,setosa
31,1,32,5.4,3.4,1.5,0.4,setosa
32,1,33,5.2,4.1,1.5,0.1,setosa
33,1,34,5.5,4.2,1.4,0.2,setosa
34,1,35,4.9,3.1,1.5,0.2,setosa
35,1,36,5.0,3.2,1.2,0.2,setosa
36,1,37,5.5,3.5,1.3,0.2,setosa
37,1,38,4.9,3.6,1.4,0.1,setosa
38,1,39,4.4,3.0,1.3,0.2,setosa
39,1,40,5.1,3.4,1.5,0.2,setosa
40,1,41,5.0,3.5,1.3,0.3,setosa
41,1,42,4.5,2.3,1.3,0.3,setosa
42,1,43,4.4,3.2,1.3,0.2,setosa
43,1,44,5.0,3.5,1.6,0.6,setosa
44,1,45,5.1,3.8,1.9,0.4,setosa
45,1,46,4.8,3.0,1.4,0.3,setosa
46,1,47,5.1,3.8,1.6,0.2,setosa
47,1,48,4.6,3.2,1.4,0.2,setosa
48,1,49,5.3,3.7,1.5,0.2,setosa
49,1,50,5.0,3.3,1.4,0.2,setosa
50,2,51,7.0,3.2,4.7,1.4,versicolor
51,2,52,6.4,3.2,4.5,1.5,versicolor
52,2,53,6.9,3.1,4.9,1.5,versicolor
53,2,54,5.5,2.3,4.0,1.3,versicolor
54,2,55,6.5,2.8,4.6,1.5,versicolor
55,2,56,5.7,2.8,4.5,1.3,versicolor
56,2,57,6.3,3.3,4.7,1.6,versicolor
57,2,58,4.9,2.4,3.3,1.0,versicolor
58,2,59,6.6,2.9,4.6,1.3,versicolor
59,2,60,5.2,2.7,3.9,1.4,versicolor
60,2,61,5.0,2.0,3.5,1.0,versicolor
61,2,62,5.9,3.0,4.2,1.5,versicolor
62,2,63,6.0,2.2,4.0,1.0,versicolor
63,2,64,6.1,2.9,4.7,1.4,versicolor
64,2,65,5.6,2.9,3.6,1.3,versicolor
65,2,66,6.7,3.1,4.4,1.4,versicolor
66,2,67,5.6,3.0,4.5,1.5,versicolor
67,2,68,5.8,2.7,4.1,1.0,versicolor
68,2,69,6.2,2.2,4.5,1.5,versicolor
69,2,70,5.6,2.5,3.9,1.1,versicolor
70,2,71,5.9,3.2,4.8,1.8,versicolor
71,2,72,6.1,2.8,4.0,1.3,versicolor
72,2,73,6.3,2.5,4.9,1.5,versicolor
73,2,74,6.1,2.8,4.7,1.2,versicolor
74,2,75,6.4,2.9,4.3,1.3,versicolor
75,2,76,6.6,3.0,4.4,1.4,versicolor
76,2,77,6.8,2.8,4.8,1.4,versicolor
77,2,78,6.7,3.0,5.0,1.7,versicolor
78,2,79,6.0,2.9,4.5,1.5,versicolor
79,2,80,5.7,2.6,3.5,1.0,versicolor
80,2,81,5.5,2.4,3.8,1.1,versicolor
81,2,82,5.5,2.4,3.7,1.0,versicolor
82,2,83,5.8,2.7,3.9,1.2,versicolor
83,2,84,6.0,2.7,5.1,1.6,versicolor
84,2,85,5.4,3.0,4.5,1.5,versicolor
85,2,86,6.0,3.4,4.5,1.6,versicolor
86,2,87,6.7,3.1,4.7,1.5,versicolor
87,2,88,6.3,2.3,4.4,1.3,versicolor
88,2,89,5.6,3.0,4.1,1.3,versicolor
89,2,90,5.5,2.5,4.0,1.3,versicolor
90,2,91,5.5,2.6,4.4,1.2,versicolor
91,2,92,6.1,3.0,4.6,1.4,versicolor
92,2,93,5.8,2.6,4.0,1.2,versicolor
93,2,94,5.0,2.3,3.3,1.0,versicolor
94,2,95,5.6,2.7,4.2,1.3,versicolor
95,2,96,5.7,3.0,4.2,1.2,versicolor
96,2,97,5.7,2.9,4.2,1.3,versicolor
97,2,98,6.2,2.9,4.3,1.3,versicolor
98,2,99,5.1,2.5,3.0,1.1,versicolor
99,2,100,5.7,2.8,4.1,1.3,versicolor
100,3,101,6.3,3.3,6.0,2.5,virginica
101,3,102,5.8,2.7,5.1,1.9,virginica
102,3,103,7.1,3.0,5.9,2.1,virginica
103,3,104,6.3,2.9,5.6,1.8,virginica
104,3,105,6.5,3.0,5.8,2.2,virginica
105,3,106,7.6,3.0,6.6,2.1,virginica
106,3,107,4.9,2.5,4.5,1.7,virginica
107,3,108,7.3,2.9,6.3,1.8,virginica
108,3,109,6.7,2.5,5.8,1.8,virginica
109,3,110,7.2,3.6,6.1,2.5,virginica
110,3,111,6.5,3.2,5.1,2.0,virginica
111,3,112,6.4,2.7,5.3,1.9,virginica
112,3,113,6.8,3.0,5.5,2.1,virginica
113,3,114,5.7,2.5,5.0,2.0,virginica
114,3,115,5.8,2.8,5.1,2.4,virginica
115,3,116,6.4,3.2,5.3,2.3,virginica
116,3,117,6.5,3.0,5.5,1.8,virginica
117,3,118,7.7,3.8,6.7,2.2,virginica
118,3,119,7.7,2.6,6.9,2.3,virginica
119,3,120,6.0,2.2,5.0,1.5,virginica
120,3,121,6.9,3.2,5.7,2.3,virginica
121,3,122,5.6,2.8,4.9,2.0,virginica
122,3,123,7.7,2.8,6.7,2.0,virginica
123,3,124,6.3,2.7,4.9,1.8,virginica
124,3,125,6.7,3.3,5.7,2.1,virginica
125,3,126,7.2,3.2,6.0,1.8,virginica
126,3,127,6.2,2.8,4.8,1.8,virginica
127,3,128,6.1,3.0,4.9,1.8,virginica
128,3,129,6.4,2.8,5.6,2.1,virginica
129,3,130,7.2,3.0,5.8,1.6,virginica
130,3,131,7.4,2.8,6.1,1.9,virginica
131,3,132,7.9,3.8,6.4,2.0,virginica
132,3,133,6.4,2.8,5.6,2.2,virginica
133,3,134,6.3,2.8,5.1,1.5,virginica
134,3,135,6.1,2.6,5.6,1.4,virginica
135,3,136,7.7,3.0,6.1,2.3,virginica
136,3,137,6.3,3.4,5.6,2.4,virginica
137,3,138,6.4,3.1,5.5,1.8,virginica
138,3,139,6.0,3.0,4.8,1.8,virginica
139,3,140,6.9,3.1,5.4,2.1,virginica
140,3,141,6.7,3.1,5.6,2.4,virginica
141,3,142,6.9,3.1,5.1,2.3,virginica
142,3,143,5.8,2.7,5.1,1.9,virginica
143,3,144,6.8,3.2,5.9,2.3,virginica
144,3,145,6.7,3.3,5.7,2.5,virginica
145,3,146,6.7,3.0,5.2,2.3,virginica
146,3,147,6.3,2.5,5.0,1.9,virginica
147,3,148,6.5,3.0,5.2,2.0,virginica
148,3,149,6.2,3.4,5.4,2.3,virginica
149,3,150,5.9,3.0,5.1,1.8,virginica

In [31]:
acquire.get_telco_data()

File does not exist - creating CSV file

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check